@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body,
html {
    margin: 0;
}

.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: no-repeat;
    object-fit: cover;
    overflow: hidden;
}

.main-page {
    margin: 3%;
    padding-right: 0px;
    height: 100%;
    width: 100%;
    color: aliceblue;
    animation: fadeIn 1s ease-in-out;
}